
.navbar{
    background-color: #74E5D4;
}

.quem-somos{
    background-color: #74E5D4;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #74E5D4 ;
}

.bg-flooter{
    background-color: black;
    color: beige;
}